<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  {{ site.seo }}
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
</head>
<body>
  <main class="page-content">
      ![Typing SVG](https://readme-typing-svg.demolab.com/?lines=xsmb-vietnam-lottery-analysis)
    {{ content }}
  </main>

  {% include footer.html %}
</body>
</html>
